body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(to bottom , #0f0c29 , #302b63 , #24243e);
}

.main{
    height: 500px;
    width:350px;
    /* background-color: red; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 10px 50px #000;
}

#chk{
    display: none;
}

.signup{
    position: relative;
    height: 100%;
    width: 100%;
}

label{
    color: #fff;
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    width: 60%;
    height: 40px;
    margin: 20px auto;
    background: #fff;
    justify-content: center;
    display: block;
    font: 1em sans-serif;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    background: #5151c1;
}

button:hover{
    background: #6868bb;
}

.login{
    height: 440px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label{
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px)
}

#chk:checked ~ .login label{
    transform: scale(1);
}

#chk:checked ~ .signup label{
    transform: scale(.6);
}